
.main-login-container{
    width: 90%;
    height:90%;
    margin:50px;
    position: relative;
    overflow: hidden;
    position:fixed;
}
.login1-container{
        width:50%;
        height: 100%;
        top:0;
        right:0;
        position: absolute;
          margin-top: 20px;
}
.about-container{
    width:50%;
    height: 100%;
    position: absolute;
    background-color:rgb(93, 168, 198);
    left:0;
    margin-top: 20px;
}
.about{
   margin:30px;
}
p{
    color:white;
    font-size:larger;
}
h2{
    color:white; 
}
h1{
    color:white;
    text-align: center;
}
.inputs{
    margin-bottom:50px;
}
.sub-button{
    display:flex;
    justify-content: center;
}
 .container{
    margin-left:50px;
}
